<!DOCTYPE html>
<html>

<title>Progress</title>

<header>
    <img src = "logo.png" alt="logo" >        
    <h1>GetFit!</h1>
</header>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="topnav">
  <a href="#leaderboard">LeaderBoard</a>
  <a href="#activity">Activity</a>
  <a class="active" href="#progress">Progress</a>
  <a href="#profile">Profile</a>
</div>

<div class="row">
    <div class="column">
        <h2>Recent Activities</h2>
        <select name="Activity:" id="activity">
            <option value="all">all</option>
            <option value="running">running</option>
            <option value="bodyweighttraining">bodyweight training</option>
            <option value="stretching">stretching</option>
            <option value="other">other</option>
        </select>
        
    <table class="center">
        <tr>
            <th>Activity Type</th>
            <th>Date</th>
            <th>Duration</th>
            <th>Distance</th>
            <th>Calories</th>
        </tr>
        <tr>
            <td>Bodyweight Training</td>
            <td>2021.10.10.</td>
            <td>00:25:19</td>
            <td>-</td>
            <td>108 kcal</td>
        </tr>
        <tr>
            <td>Running</td>
            <td>2021.10.09.</td>
            <td>00:29:03</td>
            <td>5,07 km</td>
            <td>326 kcal</td>
        </tr>
    </table>

    <button type="submit">Add Activity</button>
    <button type="submit">Show More</button>

    </div>

    <div class="column">
        <h2>Weekly Goals</h2>
        <select name="History:" id="activity">
            <option value="this week">all</option>
            <option value="previous week">running</option>
        </select>
        <div class="w3-light-grey w3-round-xlarge">
            <label>Kilometers:</label>
            <div class="w3-container w3-blue w3-round-xlarge" style="width:25%">25%</div>
        </div>
        <div class="w3-light-grey w3-round-xlarge">
            <label>Active Days:</label>
            <div class="w3-container w3-blue w3-round-xlarge" style="width:25%">25%</div>
        </div>
        <button type="submit">Set Goal</button>
    </div>
  </div>

</body>
</html>
