<!DOCTYPE html>

<html>
    <title>Personal Data</title>

    <header>
        <img src = "logo.png" alt="logo" >        
        <h1>GetFit!</h1>
    </header>

    <body>
        <h1>Personal Data*</h1>

        <form>

            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <br>            
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            <br>
            <label for="gender">Gender:</label>
            <select name="Gender:" id="gender">
                <option value="male">male</option>
                <option value="female">female</option>
                <option value="other">other</option>
            </select>
            <br>     
            <label for="birthdate">Birth Date:</label>
            <input type="date" id="birthdate" name="birthday" required>
            <br>
            <label for="height">Height:</label>
            <input type="number" id="height" name="height" required>
            <label>cm</label>
            <br>
            <label for="weight">Weight:</label>
            <input type="number" id="weight" name="weight" required>
            <label>kg</label>
            <br>
            <button type="submit">Get Started!</button>

        </form>
    </body>

    <footer>
        *Your personal data will be kept confidential.
    </footer>
</html>
