<div class="container">
    <div class="row">
        <div class="col-lg-12 card-margin">
            <div class="card search-form">
                <div class="card-body p-0">
                    
                        <div class="row">
                            <div class="col-12">
                                <div class="row no-gutters">
                                    <div class="col-lg-12 col-md-3 col-sm-12 p-0">
                                        <mat-form-field class="form-control">
                                            <input matInput [matDatepicker]="datepicker" placeholder="Select Date" [min]="minDate" [max]="maxDate" [(ngModel)]="selectedDate" (ngModelChange)="ShowGoal()">
                                            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                                            <mat-datepicker #datepicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="row">
            <div class="col-12">
                <div class="card card-margin">
                    <div class="card-body">
                        <div class="row search-body">
                            <div class="col-lg-12">
                                <div class="search-result">
                                    <div class="result-body">
                                        <div class="table-responsive">
                                            <div class="widget-26-job-title">
                                                <p>Your Goal:</p>
                                                <p>
                                                    <ngb-progressbar
                                                      type="success"
                                                      [max]="total"
                                                      [value]="done"
                                                      height="30px"
                                                      [animated]="true"
                                                    ></ngb-progressbar>
                                                  </p>
                                                <p>{{done}}/{{total}}</p>                                                                    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="form-control" (click)="addGoal(loggedUser)">Add Goal</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
