<meta name="viewport" content="width=device-width, initial-scale=1">

<title>GetFit!</title>
<h1>GetFit!</h1>

<nav class="topnav">
    <a routerLink="/leaderboard">Leaderboard</a>
    <a routerLink="/activity">Activity</a>
    <a routerLink="/progress">Progress</a>
    <a routerLink="/profile">Profile</a>
    <a routerLink="/login" (click)="logout()">Logout</a>
</nav>

<a routerLink = "/login"> <button class="form-control" onclick="style.display='none'">Get Started</button></a>

<router-outlet></router-outlet>
