<p>profile works!</p>

<title>Profile</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<img src = "logo.png" alt="logo" >        
<h1>GetFit!</h1>

<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="topnav">
    <a href="#leaderboard">LeaderBoard</a>
    <a href="#activity">Activity</a>
    <a href="#progress">Progress</a>
    <a class="active" href="#profile">Profile</a>
</div>
  
<img src = "profileicon.png" alt="profileicon" >        
<h2>Username</h2>
<br>
<h3>Level 2</h3>
<br>
<div class="w3-light-grey w3-round-xlarge">
<div class="w3-container w3-blue w3-round-xlarge" style="width:25%">25%</div>
</div>
<br>
<label>Gender:</label>
<label>Birth date:</label>
<br>
<label>Height:</label>
<label>Weight:</label>
<br>
<button type="submit">Edit Profile</button>
