<!DOCTYPE html>
<html>

<title>LeaderBoard</title>

<header>
    <img src = "logo.png" alt="logo" >        
    <h1>GetFit!</h1>
</header>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="topnav">
  <a class="active" href="#leaderboard">LeaderBoard</a>
  <a href="#activity">Activity</a>
  <a href="#progress">Progress</a>
  <a href="#profile">Profile</a>
</div>

<div class="search-container">
    <form>
        <input type="search" placeholder="Search.." name="search">
        <button type="submit"></button>
    </form>
</div>

<table class="center">
    <tr>
      <th>Place</th>
      <th>Username</th>
      <th>Level</th>
      <th>Points</th>
    </tr>
    <tr>
      <td>1.</td>
      <td>User1</td>
      <td>18</td>
      <td>1807</td>
    </tr>
    <tr>
        <td>2.</td>
        <td>User2</td>
        <td>15</td>
        <td>1540</td>
      </tr>
    <tr>
        <td>3.</td>
        <td>User6</td>
        <td>10</td>
        <td>1024</td>
    </tr>
    <tr>
        <td>4.</td>
        <td>User5</td>
        <td>8</td>
        <td>888</td>
    </tr>
</table>

</body>
</html>

