<p>activity works!</p>

<title>Activity</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<img src = "logo.png" alt="logo" >        
<h1>GetFit!</h1>

<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="topnav">
    <a href="#leaderboard">LeaderBoard</a>
    <a class="active" href="#activity">Activity</a>
    <a href="#progress">Progress</a>
    <a href="#profile">Profile</a>
</div>

<form>
    <label for="atype">Activity Type:</label>
    <select name="Activity Type:" id="atype">
        <option value="running">running</option>
        <option value="bodyweighttraining">bodyweight training</option>
        <option value="stretching">stretching</option>
        <option value="other">other</option>
    </select>
    <br>     
    <label for="date">Date:</label>
    <input type="date" id="date" name="date" required>
    <br>
    <label for="duration">Duration:</label>
    <input type="time" id="duration" name="duration" required>
    <br>
    <label for="distance">Distance:</label>
    <input type="number" id="distance" name="distance" required>
    <label>km</label>
    <br>
    <label for="calories">Calories:</label>
    <input type="number" id="calories" name="calories" disabled>
    <br>
    <button type="submit">Add Activity</button>

</form>